html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* header*/
.header-index {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: auto;
  background-image: url('./images/Coffee-wallpaper-backgrounds-hd.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.header h1 {
  color: rgba(116, 44, 9, 0.87);

  font-size: 4rem;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 10rem;
  max-width: 40rem;
}
.header h1 span {
  color: rgba(230, 176, 27, 0.911);
  font-size: 5rem;
  transition: 0.3s;
}
.header h1 span:hover {
  color: rgb(247, 184, 12);

  transition: 0.3s;
}

/* nav */

.header nav {
  width: 100%;
  height: 6rem;
  background-color: rgba(34, 13, 2, 0.952);
  z-index: 4;
  position: relative;
}
@media only screen and (max-width: 779px) {
  .header nav .nav-button {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    left: 75%;
    top: 1rem;
    padding: 0.5rem 0.65rem;
    transition: 0.8s;
  }

  .header nav .nav-button:hover {
    transform: rotate(180deg);
    transition: 0.6s;
  }
  .header nav .nav-button div {
    display: block;
    height: 0.4rem;
    width: 2.6rem;
    margin: 0.4rem 0;
    background-color: rgba(255, 255, 255, 0.822);
  }

  .header nav .dropdown {
    visibility: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    margin: 2rem 0;
  }
  .header nav .show {
    visibility: visible;
  }
  .header nav ul li {
    display: block;
    background-color: rgba(34, 13, 2, 0.952);

    text-align: center;
  }
  .header nav ul li a {
    text-decoration: none;
    display: block;
    padding: 1.4rem 0;
    color: white;
    font-size: 1.2rem;
    font-weight: 100;
    text-align: center;
  }
  .header nav ul a:hover {
    color: rgb(255, 194, 28);
    transition: 0.2s;
  }
}
@media only screen and (min-width: 780px) {
  .header nav {
    width: 100%;
    height: 6rem;
    background-color: rgba(32, 11, 0, 0.842);
    z-index: 4;
    position: relative;
  }
  .header nav ul {
  }
  .header nav ul li {
    display: inline;
    float: right;
    padding: 2rem;
  }
  .header nav ul a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
  }
  .header nav ul a:hover {
    color: rgb(255, 194, 28);
    transition: 0.2s;
  }
}

/* booking button */
#booking-button {
  padding: 1rem;
}
#booking-button a {
  width: 14rem;
  display: block;
  background-color: rgba(245, 187, 27, 0.596);
  margin: 0 auto;
  padding: 1rem 2rem;
  border-radius: 0.2rem;
  border-bottom-right-radius: 1.4rem;
}
#booking-button a:hover {
  color: #fff;
  background-color: rgb(245, 187, 27);
  padding: 1rem 2rem;
}

/* specials */
.section {
  width: 100%;
  background-color: #fff;
}
.section h2 {
  font-size: 2.4rem;
  color: rgb(245, 187, 27);
  text-align: center;
  text-decoration: underline;
}

.specials {
}

.section div {
  margin: 1rem;
  position: relative;
  margin: 10px auto;
  max-width: 34rem;
  margin: 3rem auto;
}
.section .specials div:hover {
  transition: 0.4s;

  filter: brightness(140%);
}

.section .specials div p {
  text-align: center;
  position: absolute;
  width: 100%;

  z-index: 2;
  color: rgb(168, 168, 168);
  font-size: 1.4rem;
  margin: 0;
  top: 3rem;
}
.section .specials div p span {
  font-size: 2.4rem;
}
.section .specials {
  overflow: hidden;
}

/* secont menu (the new tastes)*/

#second-menu {
  background-color: #eee;
  margin: 0;
}
#second-menu .secondary-title {
  font-size: 2rem;
  text-align: center;
  color: #666;
}
#second-menu .new-tastes .new-taste {
  margin: 0;
}
#second-menu img {
  width: 95%;
}

#second-menu .new-tastes .new-taste p {
  position: relative;
  background-color: #fff;
  text-align: center;
  color: #666;
  width: 75%;
  left: 10%;
  margin: 0;
  top: -3rem;
}
#second-menu .new-tastes .new-taste p span {
  font-size: 2rem;
}

.section #second-menu {
  position: relative;
  padding: 2rem;
  max-width: 100%;
  margin: 0 auto;
}

/* images for all cards */
.section img {
  width: 100%;
  height: auto;
  max-height: 30rem;

  overflow: hidden;
  transition: 0.4s;
  transition: transform ease-in-out 0.3s;
  background-size: cover;
}
.section .specials img {
  filter: brightness(30%);
}

.section .specials div:hover > img {
  transform: scale(1.2);
}

/* grid for all 3 cards displayed */

@media only screen and (min-width: 900px) {
  .specials,
  .new-tastes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem;
  }

  .section div {
    margin: 1rem;
    max-width: none;
    overflow: hidden;
  }

  .section img {
    width: 100%;
  }
}

/* changing menu*/

.changing-menu {
  margin: 0;
  padding: 0;

  width: auto;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url('./images/Wood-Wallpaper-Background-14.jpg');
}

.changing-menu h1 {
  margin: 0;
  padding: 0;
  color: rgba(240, 177, 4, 0.753);
  text-decoration: underline;
  text-align: center;
  font-size: 2.6rem;
}
.changing-menu h2 {
  text-align: center;
  font-size: 1.6rem;
  color: rgba(228, 228, 228, 0.938);
  font-weight: 100;
}

.changing-menu #changing-menu-nav {
  text-align: center;
  font-size: 1.6rem;
}
.changing-menu #changing-menu-nav li {
  display: inline;
}
.changing-menu #changing-menu-nav li div {
  text-decoration: none;
  display: inline;
  color: #ddd;
  padding: 0.2rem 0.4rem;
}
.changing-menu #changing-menu-nav li div {
  color: rgba(204, 173, 0, 0.918);
  transition: 0.3s;
  font-size: 2rem;
}
.changing-menu #changing-menu-nav li div:hover {
  color: rgb(245, 187, 27);
  cursor: pointer;
}

.changing-menu .menu {
  font-size: 3rem;
  color: white;
}

.inner-menu {
  position: absolute;
  display: none;
}
.inner-menu ul {
  padding: 0;
  margin: 0;
}
.inner-menu ul li {
  list-style: none;
  padding: 0.4rem 0;
  text-align: center;
}

.inner-menu p {
  font-size: 1.2rem;
}

@media only screen and (min-width: 600px) {
  .inner-menu ul {
    display: grid;
    grid-gap: 2rem;
    padding: 1.6rem 1rem;
    grid-template-columns: 1fr 1fr;
  }
}

/* js functionality to hide things */

.show {
  position: relative;
  display: block;
}

/* book an order */
.book-order {
  height: 20rem;
  background-color: #ddd;
  width: auto;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.book-order h1,
.book-order p {
  margin: 0;
  padding: 1rem;
  text-align: center;
  color: rgba(116, 44, 9, 0.87);
}
.book-order a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
  margin: 2rem auto;
  padding: 0.6rem 0;
  width: 14rem;
  margin-bottom: 3rem;
  display: block;
  background-color: rgba(218, 160, 0, 0.897);
  border-radius: 0.2rem;
  border-bottom-right-radius: 1.4rem;
}
.book-order a:hover {
  color: #fff;
  background-color: rgba(250, 184, 2, 0.979);
  transition: 0.2s;
}

/* https://restaurants.weblium.site/#booking-form 
*/

/* catering section */

.cater {
  text-align: center;
  margin: 0 auto;
  max-width: 46rem;
}
.cater h1 {
  color: rgba(250, 184, 2, 0.979);
  font-size: 3rem;
  font-weight: 100;
  text-decoration: underline;
}
.cater h2 {
  color: #444;
  font-size: 1.5rem;
}
.cater p {
  color: #555;
  font-size: 1.2rem;
}
.cater-options {
  margin-top: 5rem;
}
.cater-options div {
  margin-top: 1rem;
}

.icon {
  filter: invert(52%) sepia(153%) saturate(1352%) hue-rotate(17deg)
    brightness(119%) contrast(119%);
  width: 5rem;
  height: 5rem;
}

@media only screen and (min-width: 660px) {
  .cater-options {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem;
    grid-gap: 2rem;
  }
  .cater {
    max-width: none;
  }
}
@media only screen and (min-width: 900px) {
  .cater-options {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 2rem;
    grid-gap: 2rem;
  }
  .cater {
    max-width: none;
  }
}

/* the space image slider */

* {
  box-sizing: border-box;
}

.the-space h1 {
  text-align: center;
  color: rgba(250, 184, 2, 0.979);
  font-size: 3rem;
  font-weight: 100;
  text-decoration: underline;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  height: 60%;
  max-height: 60rem;
  overflow: hidden;
}
.slideshow-container img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@media only screen and (max-width: 600px) {
  .slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
    height: 30%;
    max-height: 30rem;
    overflow: hidden;
  }
}
@media only screen and (min-width: 900px) {
  .slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
    height: 60%;
    max-height: 60rem;
    overflow: hidden;
  }
  .slideshow-container img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 1s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

/* about us */

.about {
  margin: 3rem 0;
}

.about-images {
  margin: 0 auto;
  padding: 0 auto;
  max-width: 60rem;
}
.about-images img {
  padding: 0.2rem;
  width: 49%;
  height: 36%;
  max-width: 24rem;
  max-height: 20rem;
}
.about-content {
  text-align: center;
}

.about-content h1 {
  text-align: center;
  color: rgba(250, 184, 2, 0.979);
  font-size: 2.4rem;
  font-weight: 100;
  text-decoration: underline;
}

.about-content p {
  text-align: justify;
  padding: 1.2rem 1.2rem 0 1.2rem;
  color: #444;
  font-size: 1.2rem;
  font-weight: 100;
}

@media only screen and (min-width: 660px) {
}
@media only screen and (min-width: 700px) {
  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .about-images {
    height: 136%;
  }
}
@media only screen and (min-width: 1040px) {
  .about-images {
    padding: 0 2rem;
    height: 156%;
  }
}

/* what to expect */
.what-to-expect {
  width: auto;
  background-image: url('./images/Wood-Wallpaper-Background-14.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}
.what-to-expect .expectations div {
  width: 84%;
  max-width: 30rem;
  margin: 1rem auto;
  background-color: rgba(90, 53, 0, 0.432);
  border-radius: 10px;
  padding: 0.2rem 1rem;
}
.what-to-expect h1 {
  color: rgb(250, 250, 250);
  font-size: 1.6rem;
  font-weight: 100;
}
.what-to-expect p {
  color: rgba(221, 221, 221, 0.863);
  font-size: 1.2rem;
  font-weight: 100;
}

@media only screen and (min-width: 800px) {
  .what-to-expect .expectations {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .what-to-expect .expectations div {
    width: 84%;
    max-width: 30rem;
    margin: 1rem auto 3rem auto;
    background-color: rgba(90, 53, 0, 0.432);
    border-radius: 10px;
    padding: 0.2rem 0.4rem;
  }
}

/* email form */
.emails {
  margin: 0;
  padding: 4rem 0;
  height: 100vh;
  width: auto;
  background-image: url('./images/nathan-dumlao-XOhI_kW_TaM-unsplash.jpg');
  background-color: rgb(41, 22, 0);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.emails .form {
  background-color: #c7c7c7e8;
  filter: brightness(120%);
  width: 100%;
  border-radius: 15px;
  margin: 0 auto;
}
@media only screen and (min-width: 720px) {
  .emails .form {
    width: 40rem;
  }
}
.emails .form form {
  padding: 1rem;
}

.emails .form form input {
  display: block;
  margin: 1rem auto;
  padding: 0 0.5rem;
  width: 20rem;
  height: 2.6rem;
  border-radius: 50px;
  border: none;
  outline: none;
  font-size: 1.2rem;
  color: rgba(36, 36, 36, 0.952);
}

.emails h1 {
  color: rgba(201, 147, 0, 0.945);
  font-size: 3rem;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 2rem;
}
.emails p {
  color: rgba(22, 22, 22, 0.877);
  max-width: 40rem;
  font-size: 1.6rem;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
  padding-top: 2rem;
}

.emails .form form button {
  margin: 1rem auto;
  padding: 0.4rem;
  width: 10rem;
  display: block;
  background-color: rgba(245, 187, 27, 0.842);
  padding: 1rem 2rem;
  border-radius: 0.2rem;
  border-bottom-right-radius: 1.4rem;
  border: none;
  color: rgb(37, 37, 37);
  font-size: 1.2rem;
  transition: 0.2s;
}
.emails .form form button:hover {
  background-color: rgb(245, 187, 27);
  padding: 1rem 2rem;
  color: #fff;
  transition: 0.2s;
}

footer {
  background-color: rgba(0, 7, 29, 0.808);
  text-align: center;
}
footer h4,
footer h5 {
  padding: 0;
  margin: 0;
  color: #f2f2f2ea;
  padding: 0.4rem 0;
}
footer h4 {
  font-size: 1.4rem;
  font-weight: 100;
  padding: 4rem 0 0.4rem 0;
}
footer .top-footer {
  color: #f2f2f2ea;
}
@media only screen and (min-width: 700px) {
  footer .top-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

footer .top-footer ul li {
  list-style: none;
  width: 6rem;
  margin: 0.2rem auto;
}
footer .top-footer ul li:hover,
footer .top-footer ul li a:hover {
  cursor: pointer;
  color: rgb(230, 168, 0);
}
footer .top-footer ul li a {
  text-decoration: none;
  color: #f2f2f2ea;
}
